#SupportHome .col-row {
   display: flex;
}

#SupportHome .col-row > div {
  background: #efefef;
  padding: 3px 5px;
}

#SupportHome .col-row > div:first-child {
  margin-right: 10px;
}

#SupportHome .col-row > div:last-child {
   margin-left: 10px;
} 
#SupportHome .col-2 {
   width: 33.3%;
}
#SupportHome .col-4 {
   width: 66.7%;
}
.btn.outline:hover a,
.btn.outline a:hover {
  background-color: transparent;
  color: black;
}

#CloudTraining .training-navigation {
   margin-top: 40px;
}

#CloudTraining .training-navigation td {
    width: 33%;
    padding: 45px 20px 10px 20px;
    position: relative;
    cursor: pointer;
}

#CloudTraining .training-navigation td:after, 
#CloudTraining .training-navigation td:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#CloudTraining .training-navigation td:after {
	border-color: rgba(0, 92, 178, 0);
	border-top-color: #005cb2;
	border-width: 10px;
	margin-left: -10px;
}
#CloudTraining .training-navigation td:before {
	border-color: rgba(0, 92, 178, 0);
	border-top-color: #005cb2;
	border-width: 16px;
	margin-left: -16px;
}

#CloudTraining .training-navigation td.selected {
   background-color: #005cb2;
}

#CloudTraining .training-navigation td.selected p {
   color: #FFF;
}

#CloudTraining .training-navigation td img {
    padding: 0;
    position: absolute;
    margin: auto;
    top: -38px;
    left: 0;
    right: 0;
}
